html {
    box-sizing: border-box;
    font-size: 20px;
  }

*, *:before, *:after {
    box-sizing: inherit;
  }

  a {
      text-decoration: none;
      color: black;
  }

nav {
    z-index: 10000;
    background: white;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    width: 100%;
    height: 45px;
    text-align: center;
    font-size: .8rem;
    border-bottom: 1px solid rgb(187, 185, 185);
}

.nav-left {
    display: flex;
    flex-basis: 230px;
    justify-content: space-around;
}

.nav-left span a {
    font-weight: bolder;
}

.nav-center img{
    width: 200px;
    height: auto;
}

.nav-right {
    display: flex;
    flex-basis: 250px;
    justify-content: flex-end;
}

nav button {
    background: rgb(86, 123, 149);
    color: white;
    border: 1px solid rgb(86, 123, 149);
    padding: 8px;
    border-radius: 5px;
    font-weight: bold;
    margin: 0px 5px;
}

header {
    width: 100%;
    font-style: italic;
    text-align: center;
   
}

#titleHeader {
    padding-top: 50px;

}

.main-content {
    max-width: 600px;
    margin: 0 auto;
}

.article-title { 
    padding: 5px;
    text-align: left;
    font-weight: bold;
    font-size: 2.1rem;
    margin-bottom: 20px;
}

.main-image {
    width:950px;
}

.main-figcaption {
    font-style: normal;
    font-size: .8rem;
    opacity: .7;
    max-width: 950px;
    margin: 0 auto;
    text-align: left;
}

#inflation-image {
    margin-top: -100px;
}

.fig-title-descrip {
    font-size: .8rem;
    opacity: .9;
}

.author-credit {
    opacity: .8;
    font-size: .9rem;
}

strong {
    font-weight: bold;
}

.article-author {
    margin-top: 30px;
}

.sharing-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.share-item {
    margin-left: 20px;
    font-size: 1.1rem;
}

.date {
    opacity: .8;
    font-size: .8rem;
}

.main-text {
    line-height: 2rem;
}

br {
    margin: 20px;
}

.suggestion-container {
    max-width: 250px;
    margin-right: 50px;
    font-size:.8rem;
    float: right;
}

.suggestion-title {
    font-weight: bold;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(192, 192, 192);
}

.suggestion-item {
  font-weight: normal;
  padding-top: 15px;
  clear: both;
}

.suggestion-image {
    float: left;
    width: 100px;
    height: 100px;
}

.suggestion-caption {
    display: flex;
    align-items: center;
    margin-left: 115px;
    height: 100px;
}

.main-figure { 
    width: 100%;
    text-align: center;
}

.fig-title {
    margin: 0 auto;
    width: 950px;
    text-align: left;
    margin-bottom:10px;
    margin-top: 10px;
    opacity:.9;
}

.content-sized-image {
    width: 100%;
}

.content-sized-figcaption {
    line-height: 1;
    font-size: .8rem;
    opacity: .8;
}

.content-sized-figauthor {
    opacity: .6;
}

.footer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article-footer {
    font-size: .6rem;
    margin-bottom: 50px;
    opacity:.9;
}

.article-comment-but {
    width: 300px;
    padding: 10px;
    font-weight: bold;
    color: white;
    background: rgb(86, 123, 149);
}

.article-suggestions-wrapper{
    display: flex;
}


.img-suggestions-wrapper {
    border-top: 1px solid black;
    padding: 20px 10px 20px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 15px;
}

.img-suggestion {
    width: 300px;
}

.img-suggestions-wrapper figure figcaption {
    font-size: .9rem;
    margin-top: 10px;
}

.text-suggestions-wrapper {
    border-top: 1px solid black;
    margin-left: 20px;
    padding: 20px 20px 20px 10px;
}

.text-suggestions-wrapper div {
    border-top: 1px solid grey;
    padding: 15px 0px;
}


.page-footer {
    margin: 20px 35px;
    padding-top: 5px;
    border-width: 2px;
    border-top-style: double;
    border-color: grey;
    font-size: .7rem;
}

.pg-footer-subscribe {
    font-weight: bold;
    font-size: .8rem;
}

.pg-footer-section2 {
    margin: 10px 0px;
    font-size: .6rem;
}

.pg-footer-section3 {
    border-top: 1px solid rgb(192, 192, 192);
    padding: 10px 0px;
    font-size: .6rem;
}


footer img {
    width: 180px;
    margin-bottom: 10px;
}
.main-links {
    display: flex;

}

.link-column {
    flex: 1;    
}

.link-item {
    padding: 8px 0px 5px 0px;
}


@media (max-width: 1200px) {
    .suggestion-container {
        display: none;
    }
}


@media only screen and (max-width: 1000px) {
    header figure img {
        width: 100%;
    }
    .article-title {
        font-size: 1.5rem;
    }
}

